
/* fonts:
font-family: 'Neucha', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Patrick Hand', cursive;
 */




body{
    background-color: whitesmoke;
    color: black;
}

.content-wrap {
    max-width: 900px;
    width: 85%;
    margin: 0 auto;
    }

header{
    height:200px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

.print{
    display: inline-flex
}
h3 {
    font-family: 'Neucha', cursive;
    margin-top: 10px;
    margin-right: 630px;
}

main{
    height: 800px;

}

.directions{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.5;
}
.directions p{
    margin-top: 30px;
}

.ingredients{
    display: flex
    
}

.ingredients article{
    font-family: 'Neucha', cursive;
    padding:30px;
    line-height: 1.5;
    font-size: 18px;
    margin-left: 120px;
}

.line-through {
    text-decoration: line-through;
}
.recipe{
    background-image:url("../images/ChocZaAssets/list-bg.png");
margin: 30px;
}



footer {
    height: 200px;
}


.button {
    background-color: orangered;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.footer h3 {
    color: black;
    /* font-weight: bold; */
    padding-bottom: 20px;
    font-size: 2em;
}

.footer p {
    align-content: center;
    opacity: 80%;
}

.footer h4 {
    color: gray;
}

footer img {
    float: left;
    padding: 20px;
}

footer section {
    float: left;
    width: 60%;
}


